# =========================
# Raw datasets
# =========================
data/*.csv
data/**/*.csv

# =========================
# Generated feature files
# =========================
data/features/
data/features_cicids/

# =========================
# Generated graph files
# =========================
data/graphs_unsw/
data/graphs_cicids/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environment
# =========================
.venv/
venv/

# =========================
# PyCharm / IDE
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store